In [5]:
import pandas as pd

In [8]:
df = pd.read_csv("customer_profiles.csv")

In [9]:
df

,gender,age,id,became_member_on (year month day),income,ever_married,kids,home_state
0,F,55,0610b486422d4921ae7d2bf64640c50b,20170715,112000.0,No,3,North Dakota
1,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,Yes,0,Florida
2,M,68,e2127556f4f64592b11af22de27a7932,20180426,70000.0,Yes,3,Florida
3,M,65,389bc3fa690240e798340f5a15918d5c,20180209,53000.0,Yes,5,Missouri
4,M,58,2eeac8d8feae4a8cad5a6af0499a211d,20171111,51000.0,Yes,5,South Dakota
...,...,...,...,...,...,...,...,...
14820,F,45,6d5f3a774f3d4714ab0c092238f3a1d7,20180604,54000.0,No,0,Tennessee
14821,M,61,2cb4f97358b841b9a9773a7aa05a9d77,20180713,72000.0,No,4,Ohio
14822,M,49,01d26f638c274aa0b965d24cefe3183f,20170126,73000.0,No,2,Rhode Island
14823,F,83,9dc1421481194dcd9400aec7c9ae6366,20160307,50000.0,No,0,Florida
14824,F,62,e4052622e5ba45a8b96b59aba68cf068,20170722,82000.0,Yes,4,Pennsylvania